.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Helper Classes */
.align-center {
 text-align: center;
}

/* CSS for side nav */
.site-navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #166488;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
  display: block;
}
.site-navigation__logo {
  font-family: serif;
  font-size: 2em;
  color: #fff;
}
.nav-item {
  padding: 0.7em;
  color: #fff;
  border: 1px solid #ccc;
  width: 90%;
  margin: 1.5em auto;
}
.nav-item a {
  color: #fff;
}
.nav-item a:focus, a:hover {
  font-weight: 800;
  color: #fff;
}